.technology__data{
    
     /* background-color: rgba(255, 255, 250, .4); */
       
     width: 470px;
      height: 303px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* margin-left: 166px; */
      align-self: center;
      flex-grow: .5;
    }
    
    .technology__data__terminology{
      width: fit-content;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-transform: uppercase;
      color: #D0D6F9;
      
  
  }
  
  .technology__data__name{
      
      
      width: 100%;
      font-family: 'Bellefair', serif;
      font-size: 56px;
      line-height: 64px;
      text-transform: uppercase;
      color: #fff;
      
      
      
  }
  
  .technology__data__description{
      flex-grow: .4;
      width: 444px;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 20px;
      line-height: 32px;
      color: #D0D6F9;
  }
  
  @media (max-width:400px){

    .technology__data{
        width: 90%;
        text-align: center;
        height: 220px;
    }
    .technology__data__description{
        width: 100%;
        font-size: 15px;
        line-height: 25px;

    }
    .technology__data__name{
        font-size: 24px;
        line-height: 28px;
    }
    .technology__data__terminology{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3px;
        align-self: center;
    }
  }