.destination__data__title{

    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 115px;
    color: #fff;
    /* background-color: rgba(10,255,255,0.2); */
}

@media (max-width:400px){

    .destination__data__title{
        font-size: 56px;
        line-height: 64px;
    }

}